@font-face {
    font-family: 'Raleway';
    src: url('/public/fonts/raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Beauty-Rachela';
    src: url('/public/fonts/beauty-rachela/BeautyRachela-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }